#### MySQL Time

In [2]:
HOST = "10.87.32.3"
USER = "root"
PW="Sim&Ed327E!"
DB="final_project"

In [3]:
import mysql.connector

def connect():
    connection = mysql.connector.connect(
    host=HOST,
    user=USER,
    password=PW,
    database=DB,
    autocommit=False)
    
    return connection

In [4]:
import mysql.connector

connection = connect()

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f2a58494130>

In [7]:
import mysql.connector

connection = connect()
print(connection)

drop = 'DROP TABLE IF EXISTS person'

create = '''CREATE TABLE person(
    cust_id MEDIUMINT NOT NULL AUTO_INCREMENT,
    first_name VARCHAR(20) NOT NULL,
    last_name VARCHAR(23) NOT NULL,
    company VARCHAR(40) NOT NULL, 
    street_1 VARCHAR(40) NOT NULL,
    street_2 VARCHAR(40),
    city VARCHAR(29) NOT NULL,
    county VARCHAR(30), 
    state CHAR(2)NOT NULL, 
    zip CHAR(5) NOT NULL,
    phone_1 CHAR(20) NOT NULL,
    phone_2 CHAR(20),
    email VARCHAR(44) NOT NULL,
    PRIMARY KEY  (cust_id)
)'''

print(drop)
print(create)

try:
    cursor = connection.cursor()
    cursor.execute(drop)
    print('Dropped person table')
    
    cursor = connection.cursor()
    cursor.execute(create)
    print('Created person table')
except Exception as e:
    print("Error occurred while creating person table:", e)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f2a5238e920>
DROP TABLE IF EXISTS person
CREATE TABLE person(
    cust_id MEDIUMINT NOT NULL AUTO_INCREMENT,
    first_name VARCHAR(20) NOT NULL,
    last_name VARCHAR(23) NOT NULL,
    company VARCHAR(40) NOT NULL,
    street_1 VARCHAR(40) NOT NULL,
    street_2 VARCHAR(40),
    city VARCHAR(29) NOT NULL,
    county VARCHAR(30),
    state CHAR(2)NOT NULL,
    zip CHAR(5) NOT NULL,
    phone_1 CHAR(20) NOT NULL,
    phone_2 CHAR(20),
    email VARCHAR(44) NOT NULL,
    PRIMARY KEY  (cust_id)
)
Dropped person table
Created person table

In [8]:
import mysql.connector
from faker import Faker
fake = Faker()
Faker.seed(0)

connection = connect()
print(connection)



records=[]
sql = "INSERT INTO person (first_name, last_name, company, street_1, city, state, zip, phone_1, email)\
 	  VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"

for i in range(50):
    Faker.seed(i+50)
    address=fake.address()
    holder=address.split(',')
    while len(holder)<2:
        Faker.seed(i+100)
        address=fake.address()
        holder=address.split(',')
    holder2=holder[1].split(' ')
    state=holder2[0]
    zipcode=holder2[1]
    holder3=fake.phone_number().split('x')
    phone_number=holder3[0]
    rec=(fake.first_name(),fake.last_name(),fake.company(),fake.street_address(),fake.city(),fake.state_abbr(),fake.zipcode(),phone_number,fake.ascii_safe_email())
    records.append(rec)
    


try:
    cursor = connection.cursor()
    cursor.executemany(sql, records)
    connection.commit()
    print('Wrote 50 records into person table')
    cursor.close()
except Exception as e:
    print("Error occurred while writing records:", e)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f2a520a00a0>
Wrote 50 records into person table

In [13]:
!mysql final_project -e "select * from person limit 10"

+----+------------+------------+------------------------------+------------------------------+----------+------------------+--------+-------+-----+------------------+---------+---------------------------+
| id | first_name | last_name  | company                      | street_1                     | street_2 | city             | county | state | zip | phone_1          | phone_2 | email                     |
+----+------------+------------+------------------------------+------------------------------+----------+------------------+--------+-------+-----+------------------+---------+---------------------------+
|  1 | James      | Ramos      | Perkins, Martinez and Dean   | 9187 Clay Via                | NULL     | South Ashley     | NULL   |       | CA  | +1-896-311-9560  | NULL    | christopher58@example.org |
|  2 | Kathryn    | Johnson    | Harrison Inc                 | 912 Frederick Springs        | NULL     | Frederickborough | NULL   |       | MS  | (901)508-4072    | NULL    | daniel82@example.net      |
|  3 | Cheryl     | Poole      | Watts-Hicks                  | 2253 Brianna Roads Suite 628 | NULL     | Oconnellview     | NULL   |       | UT  | +1-397-583-8827  | NULL    | danielle78@example.com    |
|  4 | Tina       | Brown      | Hernandez-Floyd              | 7320 Lucas Neck Apt. 593     | NULL     | North Antonio    | NULL   |       | WA  | 702-805-3733     | NULL    | hooverbrett@example.com   |
|  5 | Zachary    | Galvan     | Stephens-Davis               | 7906 Michael Alley Apt. 022  | NULL     | Sancheztown      | NULL   |       | Box | 001-363-730-7879 | NULL    | seanriley@example.com     |
|  6 | Wayne      | Burgess    | Perez and Sons               | 45016 Nguyen River Apt. 372  | NULL     | East Kyle        | NULL   |       | NY  | 568-304-0380     | NULL    | scottturner@example.org   |
|  7 | Benjamin   | Mclaughlin | Swanson Ltd                  | 8494 West Garden Apt. 273    | NULL     | East Jaime       | NULL   |       | VT  | +1-822-345-7514  | NULL    | traceystewart@example.org |
|  8 | William    | Thompson   | Diaz-Holmes                  | 46367 Danielle Mission       | NULL     | South Brentmouth | NULL   |       | MN  | (419)878-4929    | NULL    | cblack@example.net        |
|  9 | Craig      | Contreras  | Turner and Sons              | 2993 Eric Mission Apt. 223   | NULL     | West Mariaville  | NULL   |       | LA  | 707-237-1786     | NULL    | qmason@example.net        |
| 10 | Misty      | Berry      | Sullivan, Osborne and Chavez | 8649 Nicole Centers          | NULL     | Jacobshaven      | NULL   |       | CT  | +1-305-341-0319  | NULL    | erin45@example.org        |
+----+------------+------------+------------------------------+------------------------------+----------+------------------+--------+-------+-----+------------------+---------+---------------------------+