In [5]:
%env INSTANCE=mysql

env: INSTANCE=mysql

In [6]:
!mysql < /home/jupyter/sakila/sakila-database.sql

In [7]:
!mysql < /home/jupyter/sakila/sakila-data.sql

In [8]:
!mysql sakila -e "select count(*) from actor"

+----------+
| count(*) |
+----------+
|      200 |
+----------+

In [9]:
!mysql sakila -e "select count(*) from address"

+----------+
| count(*) |
+----------+
|      603 |
+----------+

In [10]:
!mysql sakila -e "select count(*) from city"

+----------+
| count(*) |
+----------+
|      600 |
+----------+

In [11]:
!mysql sakila -e "select count(*) from country"

+----------+
| count(*) |
+----------+
|      109 |
+----------+

In [12]:
!mysql sakila -e "select count(*) from customer"

+----------+
| count(*) |
+----------+
|      599 |
+----------+

In [26]:
!mysql sakila -e "select * from actor limit 14, 10"

+----------+------------+-----------+---------------------+
| actor_id | first_name | last_name | last_update         |
+----------+------------+-----------+---------------------+
|       15 | CUBA       | OLIVIER   | 2006-02-15 04:34:33 |
|       16 | FRED       | COSTNER   | 2006-02-15 04:34:33 |
|       17 | HELEN      | VOIGHT    | 2006-02-15 04:34:33 |
|       18 | DAN        | TORN      | 2006-02-15 04:34:33 |
|       19 | BOB        | FAWCETT   | 2006-02-15 04:34:33 |
|       20 | LUCILLE    | TRACY     | 2006-02-15 04:34:33 |
|       21 | KIRSTEN    | PALTROW   | 2006-02-15 04:34:33 |
|       22 | ELVIS      | MARX      | 2006-02-15 04:34:33 |
|       23 | SANDRA     | KILMER    | 2006-02-15 04:34:33 |
|       24 | CAMERON    | STREEP    | 2006-02-15 04:34:33 |
+----------+------------+-----------+---------------------+

In [24]:
!mysql sakila -e "select * from address limit 14, 10"

+------------+-----------------------+----------+----------------------+---------+-------------+--------------+---------------------------+---------------------+
| address_id | address               | address2 | district             | city_id | postal_code | phone        | location                  | last_update         |
+------------+-----------------------+----------+----------------------+---------+-------------+--------------+---------------------------+---------------------+
|         15 | 1542 Tarlac Parkway   |          | Kanagawa             |     440 | 1027        | 635297277345 |        ���|ka@k}6$�A@      | 2014-09-25 22:31:53 |
|         16 | 808 Bhopal Manor      |          | Haryana              |     582 | 10672       | 465887807014 |                         | 2014-09-25 22:31:30 |
|         17 | 270 Amroha Parkway    |          | Osmaniye             |     384 | 29610       | 695479687538 |        ClU�B@��~�B@     | 2014-09-25 22:33:27 |
|         18 | 770 Bydgoszcz Avenue  |          | California           |     120 | 16266       | 517338314235 |        mc���Q^�L9�ZC@      | 2014-09-25 22:33:47 |
|         19 | 419 Iligan Lane       |          | Madhya Pradesh       |      76 | 72878       | 990911107354 |        ���YS@���3A7@       | 2014-09-25 22:31:13 |
|         20 | 360 Toulouse Parkway  |          | England              |     495 | 54308       | 949312333307 |        ������?�ϫK��I@           | 2014-09-25 22:33:40 |
|         21 | 270 Toulon Boulevard  |          | Kalmykia             |     156 | 81766       | 407752414682 |        ��G� F@1mIXe'G@    | 2014-09-25 22:32:48 |
|         22 | 320 Brest Avenue      |          | Kaduna               |     252 | 43331       | 747791594069 |        m4%���@b?�2c%@     | 2014-09-25 22:32:25 |
|         23 | 1417 Lancaster Avenue |          | Northern Cape        |     267 | 72192       | 272572357893 |        ����'�8@M�V�u�<�          | 2014-09-25 22:33:03 |
|         24 | 1688 Okara Way        |          | Nothwest Border Prov |     327 | 21954       | 144453869132 |                         | 2014-09-25 22:32:30 |
+------------+-----------------------+----------+----------------------+---------+-------------+--------------+---------------------------+---------------------+

In [25]:
!mysql sakila -e "select * from city limit 14, 10"

+---------+-----------------------+------------+---------------------+
| city_id | city                  | country_id | last_update         |
+---------+-----------------------+------------+---------------------+
|      15 | al-Qadarif            |         89 | 2006-02-15 04:45:25 |
|      16 | al-Qatif              |         82 | 2006-02-15 04:45:25 |
|      17 | Alessandria           |         49 | 2006-02-15 04:45:25 |
|      18 | Allappuzha (Alleppey) |         44 | 2006-02-15 04:45:25 |
|      19 | Allende               |         60 | 2006-02-15 04:45:25 |
|      20 | Almirante Brown       |          6 | 2006-02-15 04:45:25 |
|      21 | Alvorada              |         15 | 2006-02-15 04:45:25 |
|      22 | Ambattur              |         44 | 2006-02-15 04:45:25 |
|      23 | Amersfoort            |         67 | 2006-02-15 04:45:25 |
|      24 | Amroha                |         44 | 2006-02-15 04:45:25 |
+---------+-----------------------+------------+---------------------+

In [27]:
!mysql sakila -e "select * from country limit 14, 10"

+------------+----------+---------------------+
| country_id | country  | last_update         |
+------------+----------+---------------------+
|         15 | Brazil   | 2006-02-15 04:44:00 |
|         16 | Brunei   | 2006-02-15 04:44:00 |
|         17 | Bulgaria | 2006-02-15 04:44:00 |
|         18 | Cambodia | 2006-02-15 04:44:00 |
|         19 | Cameroon | 2006-02-15 04:44:00 |
|         20 | Canada   | 2006-02-15 04:44:00 |
|         21 | Chad     | 2006-02-15 04:44:00 |
|         22 | Chile    | 2006-02-15 04:44:00 |
|         23 | China    | 2006-02-15 04:44:00 |
|         24 | Colombia | 2006-02-15 04:44:00 |
+------------+----------+---------------------+

In [28]:
!mysql sakila -e "select * from customer limit 14, 10"

+-------------+----------+------------+-----------+------------------------------------+------------+--------+---------------------+---------------------+
| customer_id | store_id | first_name | last_name | email                              | address_id | active | create_date         | last_update         |
+-------------+----------+------------+-----------+------------------------------------+------------+--------+---------------------+---------------------+
|          15 |        1 | HELEN      | HARRIS    | HELEN.HARRIS@sakilacustomer.org    |         19 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|          16 |        2 | SANDRA     | MARTIN    | SANDRA.MARTIN@sakilacustomer.org   |         20 |      0 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|          17 |        1 | DONNA      | THOMPSON  | DONNA.THOMPSON@sakilacustomer.org  |         21 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|          18 |        2 | CAROL      | GARCIA    | CAROL.GARCIA@sakilacustomer.org    |         22 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|          19 |        1 | RUTH       | MARTINEZ  | RUTH.MARTINEZ@sakilacustomer.org   |         23 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|          20 |        2 | SHARON     | ROBINSON  | SHARON.ROBINSON@sakilacustomer.org |         24 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|          21 |        1 | MICHELLE   | CLARK     | MICHELLE.CLARK@sakilacustomer.org  |         25 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|          22 |        1 | LAURA      | RODRIGUEZ | LAURA.RODRIGUEZ@sakilacustomer.org |         26 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|          23 |        2 | SARAH      | LEWIS     | SARAH.LEWIS@sakilacustomer.org     |         27 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|          24 |        2 | KIMBERLY   | LEE       | KIMBERLY.LEE@sakilacustomer.org    |         28 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
+-------------+----------+------------+-----------+------------------------------------+------------+--------+---------------------+---------------------+

We are going to use a WHERE and ORDER BY clause on the table actor to show the first and last name of the actors where the actor id is less than 20 according to alphabetical order by last name, then by first name

in other words we are going to show the first and last names of the actors according where the acotrs are listed alphabetically by last name, but only the first 20 actors

In [31]:
!mysql sakila -e "select first_name, last_name from actor where actor_id<20 order by last_name, first_name"

+------------+--------------+
| first_name | last_name    |
+------------+--------------+
| VIVIEN     | BERGEN       |
| KARL       | BERRY        |
| ZERO       | CAGE         |
| ED         | CHASE        |
| FRED       | COSTNER      |
| JENNIFER   | DAVIS        |
| BOB        | FAWCETT      |
| CHRISTIAN  | GABLE        |
| PENELOPE   | GUINESS      |
| MATTHEW    | JOHANSSON    |
| JOHNNY     | LOLLOBRIGIDA |
| GRACE      | MOSTEL       |
| BETTE      | NICHOLSON    |
| CUBA       | OLIVIER      |
| JOE        | SWANK        |
| DAN        | TORN         |
| HELEN      | VOIGHT       |
| NICK       | WAHLBERG     |
| UMA        | WOOD         |
+------------+--------------+

We are going to insert a new actor called Simaak Siddiqi including his actor id and when he was added (last_updated)

In [32]:
!mysql sakila -e "insert into actor (actor_id,first_name,last_name,last_update) values (201, 'Simaak', 'Siddiqi', now())"

In [36]:
!mysql sakila -e "select actor_id,first_name,last_name,last_update from actor where actor_id>200"

+----------+------------+-----------+---------------------+
| actor_id | first_name | last_name | last_update         |
+----------+------------+-----------+---------------------+
|      201 | Simaak     | Siddiqi   | 2023-09-06 21:14:51 |
+----------+------------+-----------+---------------------+

We are going to write an update statement to change the city "Alessandria" into "EdwardLand"

In [37]:
!mysql sakila -e "update city set city = 'EdwardLand' where city_id=17"

In [38]:
!mysql sakila -e "select city from city where city_id=17"

+------------+
| city       |
+------------+
| EdwardLand |
+------------+

We are going to make a delete statement that deletes German from the language table

In [54]:
!mysql sakila -e "delete from language where name='German'"

In [55]:
!mysql sakila -e "select * from language"

+-------------+----------+---------------------+
| language_id | name     | last_update         |
+-------------+----------+---------------------+
|           1 | English  | 2006-02-15 05:02:19 |
|           2 | Italian  | 2006-02-15 05:02:19 |
|           3 | Japanese | 2006-02-15 05:02:19 |
|           4 | Mandarin | 2006-02-15 05:02:19 |
|           5 | French   | 2006-02-15 05:02:19 |
+-------------+----------+---------------------+