### Starter code for Project 4. 
#### Run these cells before starting the assignment.

#### 1. create BQ dataset:

In [1]:
%env dataset_id=school_enrollments

env: dataset_id=school_enrollments

In [2]:
!bq --location=US mk --dataset $dataset_id

Dataset 'third-being-397119:school_enrollments' successfully created.

#### 2. create and populate BQ tables:
##### Note: the load commands will run for a few minutes. Please be patient and wait for them to finish before moving onto step 3.

In [3]:
import os

In [4]:
gsutil_cmd = "gsutil ls gs://cs327e-open-access/stanford-school-enrollment/*"
file_listings = os.popen(gsutil_cmd)
dataset="school_enrollments"

for file in file_listings:

    start_index = file.rindex("_") + 1
    end_index = file.rindex(".")
    table = file[start_index:end_index]
    
    if table in ("co", "district", "fl", "ga", "id", "ma", "mo", "ne", "ny", "or", "school", "sd", "wi"):
        print("skipping " + table)
        continue

    bq_cmd = "bq --location=US load --autodetect --skip_leading_rows=1 "\
             "--source_format=CSV " + dataset + "." + table + ' ' + file
    print(bq_cmd)
    
    os.system(bq_cmd)

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ak gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ak.csv

Waiting on bqjob_r27be875a3bfa519_0000018ad8cb7a88_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ar gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ar.csv

Waiting on bqjob_rbf1e543b191b20c_0000018ad8cb8e29_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.az gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_az.csv

Waiting on bqjob_rbe4b085533a7edc_0000018ad8cbaa6b_1 ... (6s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ca gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ca.csv

Waiting on bqjob_r5a343720ba111432_0000018ad8cbcf7a_1 ... (14s) Current status: DONE

skipping co
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ct gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ct.csv

Waiting on bqjob_r8a0001a8f8edd3e_0000018ad8cc1428_1 ... (4s) Current status: DONE

skipping district
skipping fl
skipping ga
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.hi gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_hi.csv

Waiting on bqjob_r487e8d3fbf2e8a37_0000018ad8cc30ba_1 ... (2s) Current status: DONE

skipping id
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.in gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_in.csv

Waiting on bqjob_r66787a98a31e151b_0000018ad8cc4440_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.la gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_la.csv

Waiting on bqjob_r64d1fe5ad37843f8_0000018ad8cc5f45_1 ... (5s) Current status: DONE

skipping ma
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.md gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_md.csv

Waiting on bqjob_r7196d3e7ffd77e45_0000018ad8cc7f7a_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.mn gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_mn.csv

Waiting on bqjob_r2ae9c8f6504406d9_0000018ad8cc92c6_1 ... (6s) Current status: DONE

skipping mo
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ms gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ms.csv

Waiting on bqjob_r6e785f1792e13b65_0000018ad8ccb7f2_1 ... (3s) Current status: DONE

skipping ne
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nh gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nh.csv

Waiting on bqjob_rb6358005f8a0393_0000018ad8cccf45_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nj gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nj.csv

Waiting on bqjob_r1153ed2c5ab0528c_0000018ad8cce22e_1 ... (1s) Current status: DONE

BigQuery error in load operation: Error processing job 'third-
being-397119:bqjob_r1153ed2c5ab0528c_0000018ad8cce22e_1': Error while reading
data, error message: Could not parse 'N' as INT64 for field
ccd_district_high_grade (position 12) starting at location 2800632  with message
'Unable to parse' File: gs://cs327e-open-access/stanford-school-
enrollment/zf406jp4427_nj.csv
Failure details:
- Error while reading data, error message: CSV processing encountered
too many errors, giving up. Rows: 12208; errors: 1; max bad: 0;
error percent: 0
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nm gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nm.csv

Waiting on bqjob_r27439e76128d5683_0000018ad8ccf0fa_1 ... (3s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nv gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nv.csv

Waiting on bqjob_r5b81a8c3c36b68ad_0000018ad8cd0808_1 ... (3s) Current status: DONE

skipping ny
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ok gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ok.csv

Waiting on bqjob_r24fb456c6927028_0000018ad8cd1ec6_1 ... (4s) Current status: DONE

skipping or
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.pa gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_pa.csv

Waiting on bqjob_r1b63aa8083e4be5c_0000018ad8cd3a25_1 ... (5s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.sc gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_sc.csv

Waiting on bqjob_r2da371f4c57a7992_0000018ad8cd59fa_1 ... (48s) Current status: DONE

skipping school
skipping sd
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.tx gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_tx.csv

Waiting on bqjob_r6bffe159b473db25_0000018ad8ce20f3_1 ... (5s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ut gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ut.csv

Waiting on bqjob_r520797dcbc1c6b65_0000018ad8ce400b_1 ... (3s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wa gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_wa.csv

Waiting on bqjob_r2c843f74a8c2d157_0000018ad8ce56af_1 ... (6s) Current status: DONE

skipping wi
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wy gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_wy.csv

Waiting on bqjob_r2dfe3786263e2a1_0000018ad8ce799a_1 ... (2s) Current status: DONE

#### 3. Open the BQ UI and explore the schemas for the tables in the `school_enrollments` dataset. Also, preview the tables in the UI to see some sample data.

#### 4. Find school enrollments by school name, grade level, and year for Texas:

In [5]:
%%bigquery
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year

Query is running:   0%|          |

Downloading:   0%|          |

         school             grade  year  total
0     AKINS H S          grade_10  2020    720
1     AKINS H S          grade_10  2021    747
2     AKINS H S          grade_11  2020    664
3     AKINS H S          grade_11  2021    663
4     AKINS H S          grade_12  2020    609
...         ...               ...   ...    ...
1734  ZILKER EL           grade_5  2021     69
1735  ZILKER EL      kindergarten  2020     77
1736  ZILKER EL      kindergarten  2021     63
1737  ZILKER EL  pre_kindergarten  2020     30
1738  ZILKER EL  pre_kindergarten  2021     13

[1739 rows x 4 columns]

##### Note: Since the `total` column in the table is of type STRING, we needed to cast it to an INTEGER type before we can apply the `sum` function. Please see documentation on BQ's string functions, which include `cast()` and `replace()`: https://cloud.google.com/bigquery/docs/reference/standard-sql/string_functions

#### 5. Find school enrollments by school name, grade level, and year for Austin:

In [6]:
%%bigquery
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year

Query is running:   0%|          |

Downloading:   0%|          |

         school             grade  year  total
0     AKINS H S          grade_10  2020    720
1     AKINS H S          grade_10  2021    747
2     AKINS H S          grade_11  2020    664
3     AKINS H S          grade_11  2021    663
4     AKINS H S          grade_12  2020    609
...         ...               ...   ...    ...
1734  ZILKER EL           grade_5  2021     69
1735  ZILKER EL      kindergarten  2020     77
1736  ZILKER EL      kindergarten  2021     63
1737  ZILKER EL  pre_kindergarten  2020     30
1738  ZILKER EL  pre_kindergarten  2021     13

[1739 rows x 4 columns]

#### Project 4 marker. Add your work for Project 4 below this cell.

This query looks at every school in texas and outputs the schools and the number of grade levels that are less than 4 ordered by schools

In [12]:
%%bigquery
select school, count(grade) as Grade_Levels
from school_enrollments.tx
group by school
having count(grade)<4
order by school

Query is running:   0%|          |

Downloading:   0%|          |

                                 school  Grade_Levels
0                        ABERNATHY DAEP             3
1                      ALDINE J J A E P             2
2              ANDERSON ACCELERATED H S             3
3         B T WILSON SIXTH GRADE SCHOOL             2
4    BARBERS HILL PREKINDERGARTEN CENTE             3
..                                  ...           ...
123  WILLIAMSON COUNTY JUVENILE DETENTI             2
124                    WILLIAMSON JJAEP             3
125                     WILSON CO JJAEP             2
126             WILSON COUNTY BOOT CAMP             3
127                WINTERS/FAIRVIEW AEP             2

[128 rows x 2 columns]

This query will look at every grade in every school in PA that has data between 2020 and 2022 and has at least 100 students enrolled in that grade and outputs the school as well as the max amount of students enrolled in one grade in that school

In [31]:
%%bigquery
select PA1.school, max(PA1.total) as max_total_in_grade
from school_enrollments.pa PA1
join school_enrollments.pa PA2 on PA1.school=PA2.school
where PA1.year>2020 and PA2.year<2022 and PA1.total>100 and PA1.school!=""
group by school
order by max_total_in_grade desc

Query is running:   0%|          |

Downloading:   0%|          |

                               school  max_total_in_grade
0     Commonwealth Charter Academy CS             16419.0
1               Pennsylvania Cyber CS             10901.0
2                      Reach Cyber CS              8138.0
3                      Agora Cyber CS              7337.0
4                         Reading SHS              5223.0
...                               ...                 ...
2824   Northeastern Educational IU 19               105.0
2825                Pittsburgh Oliver               105.0
2826                  Tuscarora IU 11               104.0
2827               Beaver-Main El Sch               103.0
2828          Early Childhood Edu Ctr               103.0

[2829 rows x 2 columns]

This query will look at every school and output the school, the total amount of students in the school, and the average amount of students per grade. We restricted the output so that the total of students is greater than 1000 and the average students per grade is greater than 150. This is so that we can see which school has a lot of students per grade instead of total.

In [32]:
%%bigquery
select school, sum(total) as total_students, avg(total) as avg_students_per_grade
from school_enrollments.pa
group by school
having total_students>1000 and avg_students_per_grade>150 and school!=""
order by total_students desc

Query is running:   0%|          |

Downloading:   0%|          |

,school,total_students,avg_students_per_grade
0,Commonwealth Charter Academy CS,51426.0,1714.200000
1,Pennsylvania Cyber CS,41546.0,692.433333
2,Agora Cyber CS,24976.0,416.266667
3,Reach Cyber CS,23062.0,768.733333
4,Reading SHS,19894.0,663.133333
...,...,...,...
212,MAST Community Charter School,2890.0,192.666667
213,Executive Education Academy CS,2676.0,178.400000
214,Executive Education Academy Charter Scho,2650.0,176.666667
215,Mastery CS-Hardy Williams,2470.0,164.666667
216,Mastery CS - Hardy Williams,2358.0,157.200000

This is a query that loks for schools in AK that have a percentage of native american students that are over 5 percent.

In [48]:
%%bigquery
select ak1.school, sum(ak1.native_american) as native_american_students, sum(ak1.native_american)/sum(ak1.total) as percentage_native_american
from school_enrollments.ak ak1
join school_enrollments.ak ak2 on ak1.school=ak2.school
where ak1.native_american is not null and ak1.school!=""
group by school
having percentage_native_american>0.05
order by percentage_native_american desc

Query is running:   0%|          |

Downloading:   0%|          |

,school,native_american_students,percentage_native_american
0,Beryozova School,1152.0,0.272727
1,Lakeview Home School,192.0,0.206897
2,Port Lions School,288.0,0.200000
3,Trapper Creek Elementary,192.0,0.153846
4,Chignik Bay School,192.0,0.150000
5,Hollis School,256.0,0.145455
6,Takotna Community School,384.0,0.133333
7,Bethel Youth Facility,96.0,0.090909
8,Anderson School,480.0,0.083333
9,The New Path High School,192.0,0.080000
10,Wrangell High School,1056.0,0.078014
11,Merreline A Kangas School,384.0,0.070588
12,Ouzinkie School,96.0,0.062500
13,Johnson Youth Center,96.0,0.058824

This is a query that looks for schools that have at least 1 multiracial student. The results are ordered by greatest to least.

In [55]:
%%bigquery
select school, sum(multiracial) as total_multiracial 
from school_enrollments.ok 
group by school 
having sum(multiracial) > 0 and school!=""
order by sum(multiracial) desc

Query is running:   0%|          |

Downloading:   0%|          |

                              school  total_multiracial
0     EPIC ONE ON ONE CHARTER ES                   6609
1                         CENTRAL ES               4935
2     EPIC ONE ON ONE CHARTER HS                   4436
3                           MOORE HS               4214
4                     WILL ROGERS ES               3458
...                              ...                ...
3289  QUAPAW MS                                       2
3290  AGRA JHS                                        2
3291  DOVE SCIENCE ACADEMY HS                         2
3292  PITTSBURG ES                                    1
3293  GREENVILLE PUBLIC SCHOOL                        1

[3294 rows x 2 columns]

This query searches for schools in CA that have students less than 5 ordered by school

In [59]:
%%bigquery
select school, sum(total) as total_students
from school_enrollments.ca
group by school
having total_students<5
order by school
limit 100

Query is running:   0%|          |

Downloading:   0%|          |

                                          school  total_students
0             Alta Vista Alternative Junior High             2.0
1          Bishop Union Elementary Community Day             2.0
2                           Burton Community Day             4.0
3                          CDS Bishop Elementary             4.0
4                                CDS Bishop High             2.0
5                                CDS Home Street             2.0
6           Colony Basic Skills Alternative High             4.0
7                               Corcoran Academy             4.0
8                      Desert View Community Day             4.0
9                      Gravenstein Community Day             2.0
10                                        Harper             2.0
11                          Island Community Day             2.0
12                                  John F. Land             2.0
13                 Laytonville Continuation High             2.0
14                       Manzanita Community Day             2.0
15        Newman-Crows Landing Independent Study             2.0
16                      Orange Unified Pre-K SDC             2.0
17                                Peninsula High             2.0
18                       Red Bluff Community Day             2.0
19  West Sacramento School for Independent Study             4.0
20         Yuba City Special Education Preschool             2.0
21      Yucaipa Early Childhood Education Center             2.0

This query looks for schools in AK that have grades that have native american students and counts the amount of grades that have a native american student.

In [69]:
%%bigquery
select school, year, count(native_american) as grades_with_native_americans
from school_enrollments.ak
where native_american is not null and native_american>0 and school!=""
group by school, year
order by grades_with_native_americans desc

Query is running:   0%|          |

Downloading:   0%|          |

,school,year,grades_with_native_americans
0,Raven School,2021,16
1,Interior Distance Education of Alaska (IDEA),2020,16
2,Interior Distance Education of Alaska (IDEA),2021,16
3,Raven School,2020,14
4,CyberLynx Correspondence Program,2021,14
...,...,...,...
512,Valley Pathways,2021,3
513,Minto School,2021,2
514,Ticasuk Brown Elementary,2021,2
515,Meadow Lakes Elementary,2021,2
516,Sidney C. Huntington Elementary,2021,2

This query looks for the total amount of students in alternative schools ordered by the amount of students and grouped by county.

In [77]:
%%bigquery
select county, count(total) as students
from school_enrollments.tx
where ccd_school_type = "Alternative School"
group by county 
order by students desc

Query is running:   0%|          |

Downloading:   0%|          |

             county  students
0     HARRIS COUNTY       722
1      BEXAR COUNTY       700
2     DALLAS COUNTY       603
3     TRAVIS COUNTY       505
4    TARRANT COUNTY       423
..              ...       ...
124  NAVARRO COUNTY         3
125     LAMB COUNTY         3
126   LAVACA COUNTY         3
127   SCURRY COUNTY         2
128     RUSK COUNTY         2

[129 rows x 2 columns]